:root{
    --bg-color: #2c2c2c;
    --color1: #d3d3d3;
    --color2: #ffd700;
    --color3: #32cd3294;
    --text-contrast: #ffffff;
    --hover-bg-color: #444444;
    --font-family: 'Iria Sans', sans-serif;
}

body{
    background: var(--bg-color);
    color: var(--color1);
    padding-left: 15px;
    padding-right: 15px;
    font-family: var(--font-family);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: wrap;
    color: var(--text-contrast);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 20px;
}
.navbar{
    margin-top: auto;
    display: flex;
    background: var(--color3);
    width: 100px;
    height: 205px;
    border-radius: 15px;
    border: solid 1px black;
    align-items: center;  
    justify-content: center;  
    position: fixed;
    top: 35%;
    z-index: 1;
}

li{ /*side navbar*/
    padding: 15px;
}

.nav-list li:hover{
    background: var(--hover-bg-color);
    border-radius: 15px;
}

ul{
    list-style: none;
    padding: 0;
}

li a{
    list-style: none;
    text-decoration: none;
    color: var(--color1);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}


h5{
    font-size: 20px;
    color: var(--text-contrast);
    margin: 0;
}
.about  h1{
    font-size: 4.5rem;
    color: var(--color2);
    margin-bottom: 0;
}
.about p{
    font-size: 1.2rem;
    text-align: center;
    max-width: 800px;
    text-align: justify;
}

@media screen and (max-width: 415px){
    html{
        max-width: 315px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header-wrapper{
        width: 80vw;
    }
    .logo{
        display: none;
    }
    .navbar{
        background: var(--color3);
        margin-top: 0;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15px;
        align-items: center;
        z-index: 0;
        position: relative;
        align-items: center;
        border: solid 1px transparent;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar li {
        padding: 10px;
    }
    .content{
        margin-top: 0;
        flex-direction: row;
    }
    .about{
        margin-left: 0;
    }
}