:root{
    --bg-color: #2c2c2c;
    --color1: #d3d3d3;
    --color2: #ffd700;
    --color3: #32cd32;
    --text-contrast: #ffffff;
}

body{
    background: var(--bg-color);
    color: var(--color1);
}

/*Header*/
.nav-bar{
    max-height: 70px;
    display: flex;
    position: fixed;
    z-index: 999;
    offset: 0;

}

.nav-wrapper{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    gap: 25px;
    border-bottom: var(--color1) dotted 2px;
    padding-bottom: 5px;
    justify-content: space-around;
    width: 80vw;
    max-width: 80%;
}

ul li{
    display: inline;
}

li{
    color: var(--color3);
    border: var(--color3) soli;
}

/*Content*/

.content{
    height: 1220px;
    margin-top: 71px;
}